body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    justify-items: center;
    display: flex;
    
}
.container{
    width: 50%;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.button{
    display: flex;
    margin-left: 29%;
}